<% @title = "Blog" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
<% end %>

<h2>Weather Station Updates</h2>
<% if @blogs && @blogs.size > 0 %>
  <% for blog in @blogs do %>
    <p style="font-weight:bold"><%= blog.date %></p>
    <p><%= blog.content %></p>
    <div class="fineline"></div>
  <% end %>
<% else %>
  <p>No news has been posted</p>
<% end %>

<br>

<%= link_to "Back", :back %>
