<% @title = "AWON Graphs" %>

<% content_for :welcome do %>
    <%= do_welcome.html_safe %>
<% end %>

<h2>AWON Station Recent Data</h2>
<p>Click to enlarge (may take several seconds). All units are MKS; note that
  windspeed is shown at 10 times its value to scale better on the plot (so "30" on the plot means 3 meters/second).</p>
