<% @title = "AWON Soil Temp Graphs" %>

<% content_for :welcome do %>
    <%= do_welcome.html_safe %>
<% end %>

<h2>AWON Station Soil Temperatures</h2>
<p>From date shown to present. Hancock is 4751, Arena/Spring Green is 4773, Arlington 4781.</p>
