<p>Degree Days from January 1, <%= end_date.strftime("%Y") %> to <%= end_date.strftime("%B %d, %Y") %>:</p>
<table>
  <thead>
    <tr>
      <th style="width: 8em;">Date</th>
      <th>FDDs</th>
    </tr>
  </thead>
  <tbody>
  <% for date in data.keys.sort %>
    <tr>
      <td><%= date %></td>
      <td><%= data[date] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
