<div class="map-container">
  <% if @map_image %>
    <div class="center-div">
      <div id="map-img">
        <%= image_tag @map_image %>
      </div>
    </div>
    <div class="map-note">
      <%= @caption %>
    </div>
  <% else %>
    <div class="map-form map-fail">
      Sorry, we were unable to load the map. There may be no data for the selected date(s), or another error occurred. Try reloading the page.
    </div>
  <% end %>
</div>
