<h3> Recommendation</h3>
<p class="larger-font warning">Wounding/pruning/harvesting oaks should be avoided.</p>
<p class="larger-font">If an oak is wounded, consider applying wound dressing immediately to wounds and the last three growth rings of cut stumps.  Though not scientifically proven, herbicide application to stumps is believed to make the stump less suitable for pathogen infection. </p>
<p class="larger-font">
  <b>Forest setting:</b>
  If your stand is in a county that has oak wilt OR within 6 miles of a county with oak wilt, any activities that may wound oaks should only be considered under certain conditions.  Read
  <a href="https://widnr.widen.net/view/pdf/aqszuho7ee/Oak-Harvesting-Guidelines-Web-version---FR-560.pdf?t.download=true&x.share=t">Oak Harvesting Guidelines to Reduce the Risk of Introduction and Spread of Oak wilt </a>
  for details.
</p>
