<!-- GDD is lower than 128.3, and the end date is on or before 7/15.   -->
<h3> Recommendation</h3>
<p class="larger-font">Currently it is low risk for oak wilt above-ground transmission.</p>
<p class="larger-font"> Note: Growing degree days can accumulate quickly and subsequent recommendations can change quickly in March, April, and May.  Please check back daily.</p>
<p class="larger-font"> Note: When you consider extending harvesting deadlines, it is important to be aware that the stumps and wounds are susceptible for up to 72 hours after cutting.</p>

<h4> Estimated Vector Emergence Status </h4>
<p>
  Based on the degree day model (Jagemann et al., 2018), it is estimated that less than 5% of
  <i>Colopterus truncatus</i>
  have emerged as of the date yet.
  <i>C. truncatus</i> and <i>Carpophilus sayi</i>
  are the two most important insects that transmit oak wilt in Wisconsin.
  <i>C. truncatus</i>
  emerges earlier in spring than
  <i>C. sayi.</i>
</p>
