<!-- GDD is equal or more than 1206.7 and the end date is after 7/15.   -->
<h3> Recommendation</h3>
<p class="larger-font">The risk of overland transmission of oak wilt is greatly reduced after 7/15.</p>
<p class="larger-font">
  <b>Forest setting:</b> Harvesting can be considered. Read
  <a href="https://widnr.widen.net/view/pdf/aqszuho7ee/Oak-Harvesting-Guidelines-Web-version---FR-560.pdf?t.download=true&x.share=t">Oak Harvesting Guidelines to Reduce the Risk of Introduction and Spread of Oak wilt </a>
  for details.
</p>
<p class="larger-font">
  Although substantial numbers of beetles, especially <i>Carpophillus sayi</i> were trapped past 7/15, only low proportions of beetles carried viable oak wilt fungal spores after 7/15 (Jagemann et al., 2018). The abundance of the two major vectors of oak wilt was investigated in Minnesota in 2002 and 2003 (Ambourn et al., 2005).  Abundance and contamination rate of <i>Colopterus truncatus</i> with the oak wilt fungal spores peaked in April and May. Abundance of <i>C. sayi</i> peaked in October, but the pathogen was most commonly isolated from beetles collected during May and June.
</p>
