<!-- GDD is equal or more than 128.3 and less than 215.8, and the end date is on or before 7/15.   -->
<%= render partial: "partials/threshold_recommendations/avoidance_recommendation" %>
<h4> Estimated Vector Emergence Status </h4>
<p>
  Based on the degree day model (Jagemann et al., 2018), it is estimated that at least 5% of
  <i>Colopterus truncatus</i>
  have emerged as of the date.
  <i>C. truncatus</i> and <i>Carpophilus sayi</i>
  are the two most important insects that transmit oak wilt in Wisconsin.
  <i>C. truncatus</i>
  emerges earlier in spring than
  <i>C. sayi.</i>
</p>
