<!-- GDD is equal or more than 215.8 and less than 354.2, and the end date is on or before 7/15.   -->
<h4> Vector Emergence Prediction </h4>
<p>
  Based on the degree day model (Jagemann et al., 2018), it is estimated that at least 25% of
  <i>Colopterus truncatus</i>
  and 5% of
  <i>Carphophilus sayi </i>
  have emerged as of the date yet.
  <i>C. truncatus</i> and <i>C. sayi</i>
  are the two most important insects that transmit oak wilt in Wisconsin.
  <i>C. truncatus</i>
  emerges earlier in spring than
  <i>C. sayi.</i>
</p>
<%= render partial: "partials/threshold_recommendations/avoidance_recommendation" %>
