<!-- GDD is equal or more than 1206.7 and the end date is after 7/15.   -->
<h4> Recommendation</h4>
<p>The risk of overland transmission of oak wilt is greatly reduced after 7/15.</p>
<p>
  <b>Forest setting:</b> Harvesting can be considered. Read
  <a href="https://widnr.widen.net/view/pdf/aqszuho7ee/Oak-Harvesting-Guidelines-Web-version---FR-560.pdf?t.download=true&x.share=t">Oak Harvesting Guidelines to Reduce the Risk of Introduction and Spread of Oak wilt </a>
  for details.
</p>
