Dear AgWeather Subscriber,<br>

<p>Someone has requested to manage your email subscriptions at <%= link_to subscribers_url, subscribers_url %>. To ensure that you are the one intiating this request, we are sending you a validation code. Please enter the following code in the form:</p>

<div><span style="font-size: larger; font-weight: bold;"><%= @subscriber.validation_token %></span></div>

<p>This code will be valid for one hour. Please do not reply to this email.</p>

<span style="font-size:smallest; color: grey">Sent from <%= root_url %> running in <%= Rails.env %> mode.</span>
