Dear <%= @subscriber.name || "AgWeather subscriber" %>,<br>

<p>Someone has requested to manage your email subscriptions at <%= link_to subscribers_url, subscribers_url %>. To ensure that you are the one intiating this request, we are sending you a validation code. Please enter the following code in the form:</p>

<table>
  <tr>
    <td style="font-size: larger; font-weight: bold;"><%= @subscriber.validation_token %></td>
  </tr>
</table>

<p>This code will be valid for one hour. Alternatively, you can <%= link_to "click this link", validate_subscriber_url(@subscriber, token: @subscriber.auth_token) %> to be automatically logged in. If you did not initiate this request, you can ignore this email.</p>

<p>
  Thank you,<br>
  The AgWeather Team
</p>
