<div class="form-box">
  <%= form_tag action: :oak_wilt_dd do %>
    <h4 class="title">Select location and date of interest for Oak Wilt recommendation:</h4>
    <%= render partial: "partials/location_picker" %>

    <fieldset>
      <legend>Date of interest</legend>
      <%= date_field_tag :end_date,
        @end_date || Date.yesterday,
        title: "Date of interest",
        id: "datepicker-start",
        max: Date.today,
        min: Date.new(2016, 1, 1) %>
    </fieldset>

    <div class="note">Please note: The oak harvesting recommendations from this model are only approved for use in Wisconsin, Minnesota, and Iowa. Always confirm with your local regulatory authority when harvesting in a commercial context.</div>

    <%= submit_tag "Compute Estimated Oak Wilt Risk Status", id: "submit", class: "submit" %>
  <% end %>
</div>
