<% @title = "Tree Pest Development"%>
<% content_for :welcome do %>
  <%= image_tag "tree.png",{:width => "231", :height => "231", :alt => "lake mendota tree"} %>
  <h2><%= @title %></h2>

<% end %>

<h2><%= @title %></h2>
<div class="fineline"></div>
<p>
Development of tree and shrub pests can be estimated using a
modified base 50 F degree-day calculation.
For these pests the degree-day summation is started well before the growing season.
</p>
<P>A degree day is a unit of heat for each degree above the base
temperature in a 24 hour period.Degree day accumulations can be used to determine distinct phenological events
such as when specific plants will bloom, when to plant vegetables, and when
insect pest outbreaks will occur.
</p>
