<h4>Quick links:</h4>
<ul>
  <li><%= link_to "Site Data", :sites %>
  <li><%= link_to "Manage Sites and Subscriptions", action: :manage %></li>
  <li><%= link_to "Account Settings", action: :account %></li>
  <li><%= link_to "Log out", action: :logout %></li>
</ul>
