<h4>Quick links:</h4>
<ul>
  <li><%= link_to "Home", controller: :home %></li>
  <li><%= link_to "Manage sites and subscriptions", action: :manage %></li>
  <li><%= link_to "Account settings", action: :account %></li>
</ul>
