<% @title = "Email Subscriptions" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
<% end %>

<h2>Account Confirmation</h2>

<hr>

<h4>Confirm your account</h4>

<p>We have sent you a confirmation email at <b><%= @subscriber.email %></b>. Please click the link in the email to confirm your account.</p>

<p>If you need the confirmation code resent: <button id='resend_confirmation', data-sub-id="<%= @subscriber.id %>">Resend Confirmation</button></p>

<br>

<%= link_to "Back", :back %>
