<% @title = "Email Subscriptions" %>
<% @welcome_image = "awon.png" %>

<% content_for :welcome do %>
  <h2><%= @title %></h2>
<% end %>

<h2>Showing the user</h2>

<p>Hello, <%= @subscriber.email %></p>
