// *= require_tree .
// *= require_self


.calendar-table {
	font-size: 11px;
}

.table-scroll-wrapper {
	overflow-x: scroll;
	margin: 1rem;
}

.field_with_errors {
  color: red;
  display: inline;
}

td.delete-site {
  border: 1px solid black;
  cursor: pointer;

  span {
    float: left;
    padding-top: 2px;
    padding-right: 5px;
  }
}

.awon-notice {
  float: right;
  width: 40%;

  .title {
    font-weight: bold;
    font-size: 150%;
  }
}
