$page-bg-color: #f7f5ee;
$frame-bg-color: #8b846a;
// $map-frame-bg-color: #d3caa9;
$map-form-bg-color: #ddd6bf;
$welcome-bg-color: #544e38;
$welcome-title-color: #ceb085;
$welcome-text-color: #f2f7f8;
$welcome-link-color: #cfccbf;
$heading-text-color: #363325;
$nav-bg-color: #aea686;
$nav-title-color: #3f3c2d;
$nav-text-color: #58543d;
$table-row-highlight-color: #d4ceb9;
$table-row-underline-color: #8b846a;
$form-border-color: #8b846a;
$form-bg-color: #efefef;
$hr-color: #d3caa9;
$content-bg-color: #e9e4d0;
$content-text-color: #4f4c39;
$content-link-color: #383425;
$content-link-hover-color: #26241a;
$copyright-text-color: #4e4a3a;
