@import "./colors.scss";

.site-data {
	h3 {
		font-size: 14pt;
		border-bottom: 2px solid $form-border-color;
	}
}
.site-row {
	margin-bottom: 1em;

	h4 {
		margin-top: 1em;
		margin-bottom: 2px;
	}

	h5 {
		margin-top: 0;
		margin-bottom: 2px;
		font-style: italic;
		font-size: 11pt;
	}
}

.site-box {
	padding: 10px;
	border: 1px solid $form-border-color;
	border-radius: 5px;
	background: $table-row-highlight-color;
	width: inherit;
	flex: 1;
	margin-bottom: 1em;
}

.site-list {
	ul {
		margin-top: 5px;
	}

	li {
		margin-bottom: 5px;
	}
}




