@import "./colors.scss";

.site-row h4 {
	margin-bottom: 2px;
}

.site-box {
	padding: 10px;
	border: 1px solid $form-border-color;
	border-radius: 5px;
	background: $table-row-highlight-color;
	width: inherit;
	flex: 1;
	margin-bottom: 1em;
}

.site-list ul {
  margin-top: 5px;
}

.site-list li {
  margin-bottom: 5px;
}

.site-data-title {
	font-style: italic;
	border-bottom: 2px solid $form-border-color;
}
