html, body, h1, h2 {
	margin: 0px;
	padding: 0px;
}

body {
	background: linear-gradient(0deg, #e9e4d0, transparent);
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #363325;
	a {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

ul {
	padding-inline-start: 20px;
}

table {
  border-collapse: collapse;
}

.more {
	text-align: right;
}

.clear {
	clear: both;
}

.fineline {
	margin-top: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #D3CAA9;
}

.bar-lit {
	padding-left: 6px;
	background: 0px 4px image_url('frame/bar_lit.png') no-repeat;
}

.bar-drk {
	padding-left: 6px;
	background: 0px 4px image_url('frame/bar_drk.png') no-repeat;
}

.wrapper {
	width: 1128px;
	min-height: calc(100vh - 20px);
	text-align: left;
	margin: auto;
	margin-top: 20px;
}

.nav-bar {
	display: inline-flex;
	width: 100%;
}

.nav-title {
	flex: 1;
	color:#3f3c2d;
	// color: #5a5644;
	font-variant: small-caps;
	// font-family: Arial, Helvetica, sans-serif;

	a {
		text-decoration: none;
		color: inherit
	}
}

.nav-buttons {
	margin-left: auto;
	margin-top: auto;
	margin-right: 5px;
	display: inline-flex;
}

.nav-button {
	// background-color: #aea686;
	background-color: #aea686;
	// color: #5a5644;
	color: #58543d;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-width: 100px;
	height: 1.5em;
	margin-left: 1px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-weight: bold;
	
	a {
		color: inherit;
		text-decoration: none;
	}
}

.nav-button:hover, .nav-button[selected=yes] {
	background-color: #8b846a;
	color: #e9e4d0;
}

.palette {
	background-color: #544e38;
	background-color: #8b846a;
	background-color: #e9e4d0;
}

.main-box {
	background-color: #8b846a;
	border-radius: 5px;
}

.main {
	display: inline-flex;
	// background-color: #8b846a;
	// border-radius: 5px;
	margin: 13px;
	width: -webkit-fill-available;
}

.welcome {
	background-color: #5a5644;
	width: 250px;
	margin-right: 10px;
	border-radius: 5px;
	color: white;
	flex: 1 0 auto;

	h2, p, ul {
		margin: 10px;
	}

	img {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	a {
		color: #F2F7F8;
	}

	a:hover {
		color: #CFCCBF;
	}

	h2 {
		text-align: center;
		color:#ceb085;
	}
}

.content-box {
	background-color: #e9e4d0;
	min-height: 750px;
	border-radius: 5px;
	width: 100%;
}

.content {
	margin: 10px;
	color: #4f4c39;

	a {
		color: #383425;
	}
	
	a:hover {
		color: #26241A;
	}
}

.row {
	min-height: 150px;
	display: inline-flex;

	.left {
		margin-right: 1em;
		margin-bottom: 1em;
		width: 150px;
		flex: 1 0 auto;

		img {
			border-radius: 5px;
			object-fit: cover;
			width: 100%;
		}
	}

	.right {
		flex: 0 1 auto;
	}
}

.copyright {
	font: 13px arial, sans-serif;
	color: #4E4A3A;
	text-align: right;

	p {
		margin-top: 0.5em;
	}
}

.cal-container {
	width: inherit;
	display: inline-flex;

	.cal-month {
		flex: 0 1 auto;
	}
}

.grid-table {
	td, th {
		padding: 0 1em 0 1em;
	}

	th {
		text-align: center;
		border-bottom: 1px solid;
	}

	td {
		text-align: right;
	}
}

.plain-table {
	td, th {
		text-align: center;
		padding: 0 1em 1em 0;
	}
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}
