$form-border-color: #8b846a;
$form-bg-color: #efefef;

input {
  padding: 3px 6px;
}

button {
  padding: 5px 10px;
}

h4 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.location-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.site-container {
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.grey-box {
  border: 1px solid $form-border-color;
  background-color: $form-bg-color;
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 10px 10px 5px 10px;
  width: fit-content;
}

.tbl-container {
  max-width: 100%;
  padding-bottom: 10px;

  thead tr {
    padding: 5px x;
  }
  
  tbody tr {
    margin: 0;
  }
  
  th, td {
    padding: 0 5px;
  }

  th, td:first-child {
    padding: 5px 5px;
  }
}

.toggle-site {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.site-btn {
  margin: 5px;
  padding: 2px 5px 0px 5px;
  cursor: pointer;
}

.delete-site {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
}

#add-controls {
  td {
    padding-top: 5px;
  }

  button {
    width: 100%;
  }
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  p {
    line-height: 1.5em;
  }
}

.site-controls {
  display: flex;
  gap: 1em;

  button {
    padding: 5px 10px;
  }
}

.alert {
  font-weight: bold;
  color: #c5050c;
}

.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default;

  button {
    padding: 2px 4px;
  }

  a, span {
    padding: 0.2em 0.3em;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }

  .disabled {
    color: #aaaaaa;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }
}
