.form__oak_wilt {
  border: 1px solid #8b846a;
  background-color: #efefef;
  border-radius: 3px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 1rem;
}

.link {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: #383425;
}

.link:hover {
  cursor: pointer;
}

.form__download_csv {
  display: inline;
}

.form-row {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  .label {
    font-size: 1rem;
  }

  select {
    margin-left: .25rem;
    padding: 5px
  }

  .helper-link {
    margin-left: 5px;
    margin-top: 3px;
    color: blue !important;
  }
}

.format-row {
  display: flex;
  align-items: center;
  margin-bottom: .75rem;
}

.button {
  padding: 7px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #5a5645;
  background-color: #8b846a;
}

.button:hover {
  cursor: pointer;
  background-color: #5a5645;
}

.back-button {
  margin-top: 1rem;
  display: flex;
  flex-direction: flex-end;
}

.larger-font {
  font-size: 1.25em;
}

.map-image {
  max-height: 25rem;
}

.directions {
  font-size: 14px;
}

.disclaimer {
  font-style: italic;
  font-size: 12px;
  margin: 5px;
}

#date-warning p {
  margin: 0 5px;
  color: red;
}
