.form__oak_wilt {
  border: 1px solid #8b846a;
  background-color: #efefef;
  border-radius: 3px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 1rem;
}

.form-row {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  .label {
    font-size: 1rem;
  }

  select {
    margin-left: .25rem;
    padding: 5px
  }
}

.format-row {
  display: flex;
  align-items: center;
  margin-bottom: .75rem;
}

.button {
  padding: 7px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #5a5645;
  background-color: #8b846a;
}

.button:hover {
  cursor: pointer;
  background-color: #5a5645;
}
