<% content_for :title do %>
  UW Soil Science Weather/Modeling: About Us
<% end %>

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "style" -%>
<% end %>

<% content_for :welcome do %>
  <%= image_tag "pic_1.jpg", {:width => "231", :height=>"301", :alt=>"Soil Science/King Hall"}  %>
  <h2>About Our Group</h2>
  <p>Faculty and staff at the UW Soil Science department in Madison maintain these pages.</p>
  <br/>
  <p>
    <a href="http://soils.wisc.edu/" class="bar-drk">Dept. of Soil Science</a>
    <a href="http://extension.soils.wisc.edu" class="bar-drk">Soil Science Extension</a><br>
    
  </p>
<% end %>

<!-- content for remainder of page -->

<h2>About Us / Contact</h2>
<p style="font-size: larger">
  This web site is a continuation of the hard work first started in the mid 
  1980’s by Bill Bland, now emeritus faculty member and Rick Wayne, software 
  developer in Department of Soil Science at UW – Madison. The data are provided
  free of charge to any interested parties. A primary focus of their mission was
  to help growers maximize their yields, minimize their costs, and assist them 
  wherever possible as responsible stewards of our agricultural landscape. Bill
  has retired and Rick has accepted a new position so they are no longer 
  involved with the site. 
</p>
<p style="font-size: larger">
  In June of 2016 we experienced a significant software failure that disabled 
  the site. Since that time we have been rebuilding/restoring site function as 
  quickly as possible as funds allow. We also now have to rely on contracted 
  services for software development. We thank you for your patients as we 
  move forward with this process.
</p>
<br>
<h3>The current site coordinator is:</h3>
<p>
  John Panuska<br>
  Department of Biological Systems Engineering<br>
  Email: <a href="mailto:jcpanuska@wisc.edu">jcpanuska@wisc.edu</a><br> 
  Phone: 608-262-0605
</p>
<br>
<h3>The current webmaster/developer is:</h3>
<p>
  Ben Bradford<br>
  Department of Entomology<br>
  Email: <a href="mailto:bbradford@wisc.edu">bbradford@wisc.edu</a>
</p>
<div class="clear"></div>
